<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Information view</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<div>
    <ul>
        <li>
    <a th:href="@{/information}">Information</a>
        </li>
    </ul>
    <div>
        <img th:src="@{~/resources/img/greenfox.png}" th:width="200" th:height="200">
    </div>
    <div>
        <p th:text="'This is Mr.Fox. Currently living on pizza and lemonade. He knows 2 tricks.'">
        </p>
    </div>
    <div>
        <h1>Known tricks</h1>
        <ul>
            <li>
                write HTML
            </li>
            <li>
                code in Java
            </li>
        </ul>
    </div>
</div>
</body>
</html>