<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
            "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <meta charset="utf-8" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12" align="center">
    <h1 class="text-uppercase">Todos for today:</h1>
        </div>
    </div>
    <h3>
    <div class="row">
        <div class="col-md-12" align="center">
    <form action="#" th:action="@{/todo/create}">
    <button type="submit" class="btn btn-warning">Add new todo</button>
        <div class="row"><br></div>
    </form>
        </div>
    </div>
    <div class="col-md-2"></div>
    <table class="table table-striped">
        <th class="col-md-1">ID</th>
        <th class="col-md-3">ACTION</th>
        <th class="col-md-1">DONE</th>
        <th class="col-md-1">URGENT</th>
    <tr th:each="todo : ${todos}">
        <td class="col-md-1" th:text="${todo.id}"/>
        <td class="col-md-3" th:text="${todo.title}"/>
        <td class="col-md-1"><span th:class="${todo.done} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span></td>
        <td class="col-md-1"><span th:class="${todo.urgent} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></span></td>
        <td class="col-md-1"><a th:href="@{'/todo/'+ ${todo.id} + '/delete'}" class="btn btn-danger" role="button">delete</a> </td>
        <td class="col-md-1"><a th:href="@{'/todo/' + ${todo.id} + '/update'}" class="btn btn-primary" role="button">update</a> </td>
    </tr>
    </table>
    </h3>
    <div class="col-md-2"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=
        "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></body>
</html>