<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <form method="post" action="/showintable" th:action="@{/showintable}">
        <table>
    <tr><th>Owner</th>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>Good or bad guy?</th>
        <th>Good or bad?</th>
        <th>Raise the Balance</th></tr>

            <tr th:each="bankaccount : ${bankaccountlist}">
        <td>
            <span th:if="${bankaccount.isKing()}" th:text="'King!'" class="king"  />
            <span th:if="!${bankaccount.isKing()}" th:text="'Not king'" />
        </td>
        <td th:text="${bankaccountStat.index}" th:name="index"/>
        <td th:text="${bankaccount.name}"/>
        <td th:text="${bankaccount.balance}"/>
        <td th:text="${bankaccount.animalType}"/>
        <td>
            <th:block th:switch="${bankaccount.isGoodGuy()}">
                <div th:case="false">
                    Bad boy
                </div>
                <div th:case="true">
                    Good guy
                </div>
            </th:block>
        </td>
        <td th:text="${bankaccount.isGoodGuy()} ? 'Good guy' : 'Bad boy'"/>
        </td>
                <td>

                    <input th:type="button" th:value="Raise"></inputbutton>
                </td>
        </tr>

</table>
    </form>
</body>
</html>